<main class="page-content">
	<!--breadcrumb-->
	<!--end breadcrumb-->
	<!--end row-->
	<!--end row-->
	<!--end row-->


	<h6 class="mb-0 text-uppercase">Dashboard</h6>
	<hr>
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-4">

		<div class="col">
			<div class="card radius-10 bg-primary">
				<div class="card-body">
					<div class="d-flex align-items-center">
						<div class="">
							<p class="mb-1 text-white">Contact</p>

							<h4 class="mb-0 text-white">@ViewBag.Contacts</h4>

						</div>
						<div class="ms-auto fs-2 text-white">
							<i class="fas fa-address-card"></i>
						</div>
					</div>
					<hr class="my-2 border-top border-light">

				</div>
			</div>
		</div>
		<div class="col">
			<div class="card radius-10 bg-orange">
				<div class="card-body">
					<div class="d-flex align-items-center">
						<div class="">
							<p class="mb-1 text-white">Opportunities</p>
							<h4 class="mb-0 text-white">@ViewBag.Opps</h4>
						</div>
						<div class="ms-auto fs-2 text-white">
							<i class="fas fa-file-invoice-dollar"></i>
						</div>
					</div>
					<hr class="my-2 border-top border-light">

				</div>
			</div>
		</div>
		<div class="col">
			<div class="card radius-10 bg-success">
				<div class="card-body">
					<div class="d-flex align-items-center">
						<div class="">
							<p class="mb-1 text-white">Leads</p>
							<h4 class="mb-0 text-white">@ViewBag.Leads</h4>
						</div>
						<div class="ms-auto fs-2 text-white">
							<i class="fas fa-id-card-alt"></i>
						</div>
					</div>
					<hr class="my-2 border-top border-light">

				</div>
			</div>
		</div>
		<div class="col">
			<div class="card radius-10 bg-purple">
				<div class="card-body">
					<div class="d-flex align-items-center">
						<div class="">
							<p class="mb-1 text-white">Tasks</p>
							<h4 class="mb-0 text-white">@ViewBag.Tasks</h4>
						</div>
						<div class="ms-auto fs-2 text-white">
							<i class="fas fa-tasks"></i>
						</div>
					</div>
					<hr class="my-2 border-top border-light">

				</div>
			</div>
		</div>
	</div><!--end row-->








</main>
