#UserTable{
    
   position: relative;bottom:500px;left:290px;width:1060px;
   
     
    }
    
#UserSearch{


position:absolute;bottom:490px;left:270px;width:1000px;

}

#GestionUser{

position:absolute;bottom:510px;left:1180px;width:200px;
width: 150px;


}